PORT=5000
MONGO_URI=mongodb://<user>:<password>@ac-6ixahqs-shard-00-00.x0urpcr.mongodb.net:27017,ac-6ixahqs-shard-00-01.x0urpcr.mongodb.net:27017,ac-6ixahqs-shard-00-02.x0urpcr.mongodb.net:27017/inventory-db?ssl=true&replicaSet=atlas-10twld-shard-0&authSource=admin&appName=Inventory-System
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:4200
